@media only screen and (max-width: 900px) {
  .background img {
    width: 150%;
  }
  .gambar-admin {
    display: none;
  }

  /* ANIMATION */
  @keyframes tampil {
    from {
      opacity: 0%;
      transform: translate(0px, 10px);
    }
    to {
      opacity: 100%;
      transform: translate(0px, 0);
    }
  }
  @keyframes tampilCustomer {
    from {
      opacity: 0%;
      transform: translate(85px, 10px);
    }
    to {
      opacity: 100%;
      transform: translate(85px, 0);
    }
  }

  .chats {
    width: 90%;
    padding: 20px;
  }
  .chat-admin,
  .chat-customer {
    width: 75%;
    font-size: 20px;
    /* z-index: 5; */
  }
  .chat-admin {
    transform: translateX(0px);
  }
  .chat-admin-tambah {
    transform: translate(0px, -3px);
  }

  .chat-customer {
    width: 60%;
    align-self: flex-end;
    transform: translateX(85px);
  }

  /* ACTION */
  .action-center {
    padding: 5% 0;
    width: 80%;
    height: 30vh;
    position: sticky;
    left: 10%;
    bottom: -10px;
    box-shadow: none;
    background-color: rgba(226, 239, 240, 0);
  }

  .selector {
    box-shadow: 5px 5px 5px gray;
  }
  .selector,
  a {
    padding: 8px;
  }
}
